{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <article class="flex flex-column">
    <header class="self-center w-100 bg-white-10 ph2">
      <div class="mw8 center">
        <p class="f6 b retina-thin tracked">
          {{ humanize .Section | upper  }}
        </p>
        <h1 class="f1 retina-thin mv4 tc">
          {{ .Title }}
        </h1>
      </div>
    </header>
    <div class="nested-copy-line-height lh-copy f4 nested-links nested-img white w-100 self-center mw8 ph2">
      {{ .Content }}
    </div>
  </article>
{{ end }}
