<nav class="pt2" role="navigation">
  <div class="flex flex-wrap justify-end items-center center mw8">
    <div class="flex items-center w-100 justify-stretch">
      {{ partial "i18nlist.html" . }} {{ if .Site.Menus.main }}
      <ul class="pl0 mr3 flex-auto">
        {{ range .Site.Menus.main }}
        <li class="list f6 fw4 dib pr3">
          <a class="white-90 ttu" href="{{ .URL }}">
            {{ .Pre | default "" }} {{ .Name }} {{ .Post | default "" }}
          </a>
        </li>
        {{ end }}
      </ul>
      {{ end }} {{ partialCached "social-follow.html" . }}
    </div>
    <div class="w-100 tc">
      <a
        href="{{ .Site.Home.RelPermalink }}"
        class="f3 fw2 hover-white no-underline white-90 dib"
      >
        {{ with .Site.Params.site_logo }}
        <img src="{{ . }}" class="w-100 mw5" alt="{{ $.Site.Title }}" />
        {{ else }} {{ .Site.Title }} {{ end }}
      </a>
    </div>
  </div>
</nav>
